{% extends "base.html" %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-6 text-center">
                <h2 class="heading-section">Password Reset</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-5">
                    <h6 class="mb-4 text-center">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</h6>
                    <form action="" class="signin-form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Reset Password</button>
                        </div>

                        <div class="form-group d-md-flex">
                            <div class="w-100 text-center">
                                <a href="{% url 'login' %}" class="text-muted">Back to Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
